.global {
    /*
    background-color: black;
    color: white;
    */
}
.name-title {
    text-align: center;
    width: 100%;
    color: rgb(122, 47, 4);
    font-weight: bolder;
    font-size: large;
}